# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

#Codeblocks project files
*.layout
*.depend

#java specific
*.class

#auxiliary Dia files
*~

# Executables
*.exe
*.out

# File di lock
*.lock

# Esclusioni specifiche
vendor/
config.php
webServers.xml
deployment.xml
config.locale.php
config.winnie.php
config.locale.calvin.php
*.xopp
